<ion-content>
  <ion-list>
    <ion-card-header class="custom-header">
      <ion-card-title>Localização</ion-card-title>
      <ion-card-subtitle>MarketBrasil</ion-card-subtitle>
    </ion-card-header>

<ion-card>
  <img alt="local" src="assets/local.png" />
  <ion-card-header>
    <ion-card-title>Unidade Barra da Tijuca</ion-card-title>
    <ion-card-subtitle>MARKETBRASIL</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Localizado na Barra da Tijuca - RJ, fazendo interligação com Shopping Marapendi, 
    o MarketBrasil vem trazendo diversas promoções, proporcionando aos clientes uma 
    experiência única de compras com produtos de qualidade, preços competitivos e um 
    ambiente acolhedor. 
  </ion-card-content>
</ion-card>

</ion-list>
</ion-content>