<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Produtos</ion-card-title>
      <ion-card-subtitle>MarketBrasil</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <br>
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="banana" src="assets/banana.jpg" />
          </ion-thumbnail>
          <ion-label>Banana</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="assets/pessego2.png" alt="pessego">
          </ion-thumbnail>
          <ion-label>Pêssego</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="maçã" src="assets/maçã.jpg" />
          </ion-thumbnail>
          <ion-label>Maçã</ion-label>
        </ion-item>
        <ion-item>

          <ion-thumbnail slot="start">
            <img alt="uva" src="assets/uva.jpg" />
          </ion-thumbnail>
          <ion-label>Uva</ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="melancia" src="assets/melancia.jpg" />
          </ion-thumbnail>
          <ion-label>Melancia</ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Nescau" src="assets/nescau.jpg" />
          </ion-thumbnail>
          <ion-label>Nescau</ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Café" src="assets/café.jpg" />
          </ion-thumbnail>
          <ion-label>Café</ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="arroz" src="assets/arroz.jpg" />
          </ion-thumbnail>
          <ion-label>Arroz</ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="feijão" src="assets/feijão.jpg" />
          </ion-thumbnail>
          <ion-label>Feijão</ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="oleo" src="assets/oleo.jpg" />
          </ion-thumbnail>
          <ion-label>Óleo</ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="vanish" src="assets/vanish.jpg" />
          </ion-thumbnail>
          <ion-label>Vanish</ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Brilhante" src="assets/brilhante.jpg" />
          </ion-thumbnail>
          <ion-label>Brilhante</ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="detergente" src="assets/detergente.jpg" />
          </ion-thumbnail>
          <ion-label>Detergerte</ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="agua sanitaria" src="assets/agua sanitaria.png" />
          </ion-thumbnail>
          <ion-label>Água Sanitária</ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="omo" src="assets/omo.png" />
          </ion-thumbnail>
          <ion-label>Omo</ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="qualy" src="assets/qualy.png" />
          </ion-thumbnail>
          <ion-label>Margarina</ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="carne" src="assets/alcatra-bov.png" />
          </ion-thumbnail>
          <ion-label>Alcatra Bovina</ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Frango" src="assets/frango.png" />
          </ion-thumbnail>
          <ion-label>Frango</ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="coca" src="assets/coca.jpg" />
          </ion-thumbnail>
          <ion-label>Coca-Cola</ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Guaraná" src="assets/guarana.jpg" />
          </ion-thumbnail>
          <ion-label>Guaraná</ion-label>
        </ion-item>
        
        <!-- Outros itens aqui -->

      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
