<ion-content>
  <!-- Grid para Layout -->
  <ion-grid>
    <!-- Imagem do Logo -->
    <ion-row>
      <ion-col id="fotoPerfilCol">
        <img src="assets/marketbrasil2.png" alt="MarketBrasil" class="logo-image">
      </ion-col>
    </ion-row>

    <!-- Título da Página -->
    
      <ion-col id="nome">"MarketBrasil: Produtos e promoções imperdíveis."</ion-col>
    
  </ion-grid>

 <!-- Galeria de Fotos -->
 <div class="photo-gallery" #photoGallery>
  <!-- Seta para Esquerda -->
  <ion-icon name="chevron-back-circle" class="gallery-arrow left-arrow" (click)="previousImage()"></ion-icon>
  <img src="assets/natal.png" alt="promocoes" #galleryImage>
  <img src="assets/repositor.png" alt="vagas" #galleryImage>
  <img src="assets/produtos2.png" alt="ofertas" (click)="navigateToTab2()" #galleryImage>
  <!-- Seta para Direita -->
  <ion-icon name="chevron-forward-circle" class="gallery-arrow right-arrow" (click)="nextImage()"></ion-icon>
</div>


<!-- Indicadores do Carrossel -->
<div class="carousel-indicators">
  <span *ngFor="let image of images; let i = index" [class.active]="i === currentImageIndex" (click)="showImage(i)"></span>
</div>

<!-- Descrição da Loja -->
  <div class="store-description">
    <h2>Sobre o Market Brasil</h2>
    <p>Descubra uma variedade de produtos de qualidade e economia que transformam suas compras em experiências 
      ainda mais especiais. Seja bem-vindo à excelência em economia e conveniência.</p>
      <p><strong>Contato: 21975160784</strong></p>
      
  </div>
</ion-content>
