<ion-content class="custom-background">
  <ion-list>
    <ion-card-header class="custom-header">
      <ion-card-title class="title1">Ofertas</ion-card-title>
      <ion-card-subtitle class="title2">MarketBrasil</ion-card-subtitle>
    </ion-card-header>

    <ion-card>
      <img alt="carneoferta" src="assets/carneoferta.png" />
      <ion-card-header>
        <ion-card-title>R$ 39,75</ion-card-title>
        <ion-card-subtitle>Filé de costela maturatta ou SteakHouse Montana peça - kg</ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <img alt="alho" src="assets/alho.png" />
      <ion-card-header>
        <ion-card-title>R$ 16,95</ion-card-title>
        <ion-card-subtitle>Alho a granel - kg</ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <img alt="Silhouette of mountains" src="assets/pantene.png" />
      <ion-card-header>
        <ion-card-title>R$ 19,99</ion-card-title>
        <ion-card-subtitle>Kit Pantene Shampoo e Condicionador</ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <img alt="Silhouette of mountains" src="assets/sabonete.jpg" />
      <ion-card-header>
        <ion-card-title>R$ 1,27</ion-card-title>
        <ion-card-subtitle>Sabonete Flor Ypê</ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <img alt="Silhouette of mountains" src="assets/desodorante.png" />
      <ion-card-header>
        <ion-card-title>R$ 11,98</ion-card-title>
        <ion-card-subtitle>Rexona Aerossol</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    
    <!-- Adicione mais cards ou conteúdo aqui se necessário -->
  </ion-list>
</ion-content>
